.app {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

.app__header,
.app__footer {
  padding: 25px;
}

.app__header {
  background-color: #96adc8;
}

.app__content {
  display: grid;
  grid-template-columns: 30% 70%;
}

.app__navigation {
  background-color: #d7ffab;
}

.app__article {
  padding: 20px 25px;
}

.app__footer {
  background-color: #d89d6a;
}

.logo {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: Tahoma;
  font-size: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  white-space: nowrap;
  grid-template-areas: "phone logo";
}

.header__logo {
  grid-area: logo;
}

.header__phone {
  grid-area: phone;
  color: black;
  font-weight: bold;
}

.footer {
  display: grid;
  grid-template-areas:
    "logo"
    "link";
  text-align: center;
  grid-gap: 10px;
}

.footer__logo {
  grid-area: logo;
}

.footer__link {
  grid-area: link;
  font-size: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
}

.menu__link {
  background: grey;
  display: block;
  padding: 15px 25px;
}

.menu__link:hover {
  background: #96adc8;
  text-decoration: none;
}
